.divider{
     border-left:1px solid #38546d;
     border-right:1px solid #16222c;
     height:80px;
     position:absolute;
     right:249px;
     top:10px;
}

@font-face { font-family: outlaw; src: url('hhttps://github.com/Neduvai/Neduvai.github.io/blob/main/css/ttps://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/OUTLAW.TTF'); }
 .outlaw_font{
         font-family: outlaw      }
@font-face { font-family: RioGrande; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/RioGrande.TTF'); }
@font-face { font-family: kanchi; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/kanchi.TTF'); }
@font-face { font-family: nn; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/nn.TTF'); }
@font-face { font-family: ATB; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/ATB.TTF'); }
@font-face { font-family: ATM; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/ATM.TTF'); }
@font-face { font-family: ATEB; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css//ATEB.TTF'); }
@font-face { font-family: ATL; src: url('https://github.com/Neduvai/Neduvai.github.io/blob/main/css/fonts/ATL.TTF'); }
