.divider{
     border-left:1px solid #38546d;
     border-right:1px solid #16222c;
     height:80px;
     position:absolute;
     right:249px;
     top:10px;
}

.recyclerview {
  padding: 1vh;
  display:flex;align-item:center;flex-direction:column;
}

.responsive {
  width: 100%;
  max-height: 60vh;
  display: block;
  object-fit: cover;
  height: auto;
}

.center_aligned{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.tabActive{
  color: yellow;
}
@font-face { font-family: outlaw; src: url('/fonts/OUTLAW.TTF'); }
 .outlaw_font{
         font-family: outlaw      }
@font-face { font-family: RioGrande; src: url("..css/fonts/RioGrande.ttf"); }
@font-face { font-family: kanchi; src: url('/fonts/kanchi.TTF'); }
@font-face { font-family: nn; src: url('/fonts/nn.TTF'); }
@font-face { font-family: ATB; src: url("../css/fonts/ATB.ttf"); }
@font-face { font-family: ATEB; src: url("../css/fonts/ATEB.ttf"); }
@font-face { font-family: ATL; src: url("../css/fonts/ATL.ttf"); }
@font-face { font-family: ATM; src: url("../css/fonts/ATM.ttf"); }
